extends ../layouts/common.pug

block content
	h3
		span.mr-3 Danh mục
		a.btn.btn-primary(href="/danhmucs/create") New

	.d-flex.align-items-center
		

		form.ml-auto(action="/users/search", method="GET", class="d-flex")
			input(type="text",name="q", class="form-control")
			button(class="btn btn-primary ml-2") Search
	table.table
		tr
			th Ảnh
			th Tên danh mục
			th Chỉnh sửa

		each danhmuc in danhmucs
			tr
				td
					img(src=danhmuc.hinh,with="100",height="100")
				td=danhmuc.tenDM
				td
					a.btn.btn-info(href='/danhmucs/view/' + danhmuc.id) Xem
					a.btn.btn-warning(href='/danhmucs/edit/'+danhmuc.id).ml-2 Sửa
					a.btn.btn-danger(href='/danhmucs/delete/' + danhmuc.id).ml-2 Xóa
			tr