html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Admin_Panel
		// Custom fonts for this template
		link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
		// Custom styles for this template
		link(href='/css/sb-admin-2.css', rel='stylesheet')
	body#page-top
		// Page Wrapper
		#wrapper
			// Sidebar
			ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
				// Sidebar - Brand
				a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
					.sidebar-brand-icon.rotate-n-15
						i.fas.fa-laugh-wink
					.sidebar-brand-text.mx-3 Admin_Panel
				// Divider
				hr.sidebar-divider.my-0
				// Nav Item - Dashboard
				li.nav-item.active
					a.nav-link(href='/')
						i.fas.fa-fw.fa-tachometer-alt
						span Trang chủ
				// Divider
				hr.sidebar-divider
				// Heading
				.sidebar-heading
					| Quản lý
				// Nav Item - Pages Collapse Menu

				li.nav-item
					a.nav-link.collapsed(href='/danhmucs')
						i.fas.fa-fw.fa-wrench
						span Danh mục sản phẩm
				// Nav Item - Utilities Collapse Menu
				li.nav-item
					a.nav-link.collapsed(href='/products')
						i.fas.fa-fw.fa-wrench
						span Sản phẩm
				li.nav-item
					a.nav-link.collapsed(href='/donhangs')
						i.fas.fa-fw.fa-cog
						span Đơn hàng
				// Divider
				hr.sidebar-divider
				// Heading
				.sidebar-heading
					| Thống kê
				// Nav Item - Pages Collapse Menu
				li.nav-item
					a.nav-link.collapsed(href='#')
						i.fas.fa-fw.fa-folder
						span Năm
				// Nav Item - Charts
				li.nav-item
					a.nav-link(href='charts.html')
						i.fas.fa-fw.fa-chart-area
						span Biểu đồ
				// Nav Item - Tables
				li.nav-item
					a.nav-link(href='tables.html')
						i.fas.fa-fw.fa-table
						span Thống kê theo sản phẩm
				// Divider
				hr.sidebar-divider.d-none.d-md-block
				// Sidebar Toggler (Sidebar)
				.text-center.d-none.d-md-inline
					button#sidebarToggle.rounded-circle.border-0
			// SIDE BAR
			// Content
			#content-wrapper.d-flex.flex-column
				// Main Content
				#content
					// Topbar
					nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
						// THANH TÌM KIẾM
						form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
							.input-group
								input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
								.input-group-append
									button.btn.btn-primary(type='button')
										i.fas.fa-search.fa-sm
						// THANH TÌM KIẾM
						// Topbar Navbar
						ul.navbar-nav.ml-auto
							// Nav Item - Alerts
							.topbar-divider.d-none.d-sm-block
							// Nav Item - User Information
							li.nav-item.dropdown.no-arrow
								a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span.mr-2.d-none.d-lg-inline.text-gray-600.small ChiPoPo
									img.img-profile.rounded-circle(src='https://picsum.photos/id/100/100')
								// Dropdown - User Information
								.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
									a.dropdown-item(href='#')
										i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
										|                   Profile
									a.dropdown-item(href='#')
										i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
										|                   Settings
									a.dropdown-item(href='#')
										i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
										|                   Activity Log
									.dropdown-divider
									a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
										i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
										|                   Logout
					//FOOTER					
					footer.sticky-footer.bg-white
						.container.pt-5
							block content
